$base-white: #fff;
$base-grey-1: #eeeeee;
$base-grey-2: #dddddd;
$base-grey-3: #cccccc;
$base-grey-4: #bbbbbb;
$base-grey-5: #9a9a9a;
$base-grey-6: #333333;
$base-black: #000;

$brand-color-primary: #264653ff;
$brand-color-secondary: #2a9d8fff;
$brand-color-tertiary: #e9c46aff;
$brand-color-quaternary: #f4a261ff;
$brand-color-quinary: #e76f51ff;

$primary-text-color: $brand-color-primary;
$secondary-text-color: $brand-color-secondary;
$tertiary-text-color: $brand-color-tertiary;
$quaternary-text-color: $brand-color-quaternary;
$quinary-text-color: $brand-color-quinary;
